.header {
  flex: .3;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ccc;

  ul {
    margin: 0;
    padding-left: 80px;
    display: flex;
  
    li {
      font-size: 2rem;
      line-height: 5rem;
      padding: 5px;
      list-style: none;
      padding: 0 20px 0 20px;
  
      &:hover {
        cursor: pointer;
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
      }

      a {
        text-decoration: none;
      }
    }
  }
}