.header {
  border: 1px solid black;
  flex: .3;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
  
    li {
      font-size: 40px;
      line-height: 5rem;
      padding: 5px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
}