.basket-list-wrapper {
  border: 1px solid orange;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  .basket-list-box {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;

    .basket-header {
      flex: .1;
      display: flex;

      .text-img {
        flex: 2;
      }

      div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        margin: 2px;
        background-color: rgb(245, 217, 156);
      }
    }

    .basket-content {
      flex: 1;
      display: flex;
      flex-direction: column;

      .item-box {
        border-bottom: 1px solid gray;
        display: flex;

        .item-img {
          flex: 2;
          height: 400px;

          .img {
            height: 90%;

            img {
              max-height: 100%;
            }
          }
        }

        div {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .item-btn {

          button {
            width: 90%;
            cursor: pointer;
          }
        }
      }
    }
  }
}